

/cs16/
pm_shared_cs16.c
pm_shared_goldsrc.c
settings.local.json
.claude
pmove.c
pmove_quake.c
LICENSE
README.md
.gitignore
gamemovement.cpp
momsurffix2.games.txt
momsuffix2.sp
MomSurfFix-master
/MomSurfFix-master/
MomSurfFix-master/*

ramp_slope_fix.sp
NewQuake
pmove_ezquake.c
gamemovement_momentummod.cpp
w_ak47.qc
w_flakshotgun.qc
w_m4a1.qc
w_pistol.qc
